<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <section padding>
    <h2 text-center>Intitulé de la question</h2>

    <div class="separator"></div>

    <section>
      <p text-justify>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Tellus orci ac auctor augue mauris
      </p>
      <p text-justify>Volutpat diam ut venenatis tellus in metus vulputate eu. Nisl nunc mi ipsum faucibus vitae
        aliquet. Faucibus nisl tincidunt eget nullam non nisi. Duis at tellus at urna condimentum mattis
        pellentesque id.
      </p>
    </section>
  </section>
</ion-content>
